@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

    
    html{
        font-size: 10px;
    }

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Jost', sans-serif;
    }
    body{
      position: relative;
      
    }
.left-section{
  background-image: url("ball-7280265.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

    .left-section div:nth-of-type(1){
      width: 25rem;
      height: 100%; 
      /* background-color: #007bff; */
      min-height: 100vh;
      display: none;
      flex-direction: column;
      align-items: stretch;
      padding-top: 0.1rem;
      padding-left: 0.1rem;
      padding-right: 0.1rem;
      gap: 0.1rem;
      flex-shrink: 0;
      position: fixed;
  }
  .left-section div{
    width: 25rem;
    height: 100%; 
    background-image: url("ball-7280265.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.1rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    gap: 0.1rem;
    flex-shrink: 0;
    position: fixed;
}
  .left-section .button-grp{
    padding-top: 3rem;
    border-right: solid white;
  }
  .left-section .title{
    display: none;
  }


  
    .button{
      height:4.5rem;
      font-size: 16px;
      cursor: pointer;
      background-color: white;
      border: solid 0.1rem lightgray;
      border-radius: 0.4rem;
      -webkit-border-radius: 0.4rem;
      -moz-border-radius: 0.4rem;
      -ms-border-radius: 0.4rem;
      -o-border-radius: 0.4rem;
      width: 24rem;
      transition: background-color 0.3s ease;
      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -ms-transition: background-color 0.3s ease;
      -o-transition: background-color 0.3s ease;
}
.button:hover{
  background-color: lightgray;
  font-size: 17px;
}
    .password-entry {
        display: flex;
        /* flex: 1; */
        gap: 0.5rem;
        padding: 1rem;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        /* border-radius: 8px; */
        align-items: flex-start;
        /* flex-shrink: 1;  */
        flex-wrap: wrap;
      }
      
      .field-group {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
      }
      
      label {
        margin-bottom: 0.2rem;
        font-size: 1.5rem;
        color: #333;
      }
      
      .input-field {
        padding: 0.5rem;
        font-size: 1.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      .add-button {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 2.5rem;
        /* position: absolute;
        top: 2.5rem;
        left: 0;
        right: 0; */
      }
      .show-password{
        /* width:80rem; */
        display: flex;
        justify-content: center;
        
      }
      
      #password-table-container {
        margin-top: 2rem;
        width: 100%;
        font-size: 1.5rem;
    }
    
    #password-table {
        width: 100%;
        border-collapse: collapse;
        background-color: #ffffff;
        
    }
    
    #password-table th, #password-table td {
        padding: 1rem;
        border: 1px solid #ccc;
    }
    
    #password-table th {
        background-color: #007bff;
        color: white;
    }
    
    #password-table td button {
        padding: 0.5rem 1rem;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .password-text {
      font-family: 'Jost', sans-serif;
      letter-spacing: 0.1em;
  }
  .middle-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  .password-container {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
}

.input-field {
    flex: 1;
    padding-right: 2rem; 
}

.toggle-password {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    /* color: #333; */
}
.strength-bar {
  height: 0.5rem;
  width: 1%;
  border-radius: 4px;
  transition: width 0.3s ease, background-color 0.3s ease;
  background-color: #d73f40;
}
.main-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 25rem;
  right: 0;
  overflow-y:scroll;
}


.header{

  background-image: url("ball-7280265\ \(1\).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  left: 25rem;
  right: 0;
  z-index: 999999;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 3rem;
}


#welcomeMessage{
  font-size: 2rem;
  color: #ffffff;
}
/* Style for the logout button */
button.logout-btn {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1rem;
  color: #ffffff;
}
.checkbtn{
  display: none;
}
#check{
  display: none;
}

@media(max-width:1020px){
  body{
    display: flex;
    flex-direction: column; 
      overflow-x: hidden;
      
  }
  .password-container{
    background-color: lightgray;
  }
  .left-section div {
    width: 100vw;
  }
  .main-container {
    max-width: 100vw;
  }
  .left-section{
    position: relative;
  }
  .title{
    font-size: 9rem;
    text-align: center;
    font-weight: bolder;
    font-family: 'Jost', sans-serif;
    color: white;
  }
  .left-section div:nth-of-type(1){
    position: static;
    min-height: auto;
    display: flex;
    width: 100vw;
    padding-right: 0;
    flex: 1;
    flex-grow: 1;
  }
  .left-section div:nth-of-type(2){
    position: absolute;
    height: 15rem;
    min-height: auto;
    width: 100vw;
    padding-right: 0;
    flex: 1;
    flex-grow: 1;
    justify-content: center;
    margin-top: 0.4rem;
    top: 3rem;
    left: -110rem;
    transition: left 0.5s ease;
    background-color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
}

  .header{
    position: static;
    left: 0;
  }
  .main-container{
    width: 100vw;
    top: 18rem;
    left: 0;
    background-color: lightgray;
    
  }
  .checkbtn{
    display: block;
    color: white;
    font-size: 2.5rem;
    border-style: solid;
    border-width: 0.1rem;

  }
  #check{
    display: none;
  }
  .button{
    border: solid 0.1 lightgray;
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    cursor: pointer;
    width: 95%;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
.button:hover{
  background-color: lightgray;
  font-size: 18px;
}
.left-section .button-grp{
  padding-top: 0rem;
}
.main-container{
  overflow: visible;
}


}

@media (max-width:768px){
  thead{
    display: none;
  }
  table,tbody,tr,td{
    display: block;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
  }
  tr{
    margin-bottom: 1.5rem;
    background-color: silver;
    
  }
  table tbody tr td{
    text-align:right;
    padding-left: 50%;
    padding-right: 20%;
    position: relative;
  }
  table td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1.5rem;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
  .strength-bar {
    display: inline-block;
    margin-left: 10rem;
    height: 0.5rem; 
    width: 100%; 
    border-radius: 4px;
    overflow: hidden;
    max-width: 100%;
    
  }


}
span.strength-percentage {
  background-color: black;
  font-weight: bold;
  padding: 0.2rem 0.2rem;
}